<template>
    <q-page class="container">
        <q-card>
            <q-card-section>
                <p class="text-h5">
                    {{ pool.info.name }}
                </p>
                <q-chip icon="event" v-if="pool.info.time && pool.info.time.from">
                    с {{date.formatDate(pool.info.time.from, 'DD.MM.YYYY hh:mm')}}
                </q-chip>
                <q-chip icon="event" v-if="pool.info.time && pool.info.time.to">
                    до {{date.formatDate(pool.info.time.to, 'DD.MM.YYYY hh:mm')}}
                </q-chip>
            </q-card-section>
            <q-card-section v-if="pool.completed">
                <div class="text-bold">
                    Вы прошли данный опрос.
                </div>
                <div v-if="pool.info.message_after_complete" class="q-mb-md">
                    {{pool.info.message_after_complete}}
                </div>

                <q-btn icon="home" label="Домой" color="primary" to="/"></q-btn>
            </q-card-section>
            <q-card-section v-else-if="timeOut">
                <div class="text-bold">
                    Опрос не доступен
                </div>
            </q-card-section>
            <q-card-section v-else-if="pool.info.questions.length">
                <q-form @submit="submit">
                    <Question v-for="q, i in pool.info.questions" :key="i" :question="q" :answer.sync="answers[i]"/>
                    <q-btn label="Ответить" type="submit" color="primary"/>
                </q-form>
            </q-card-section>
            <q-card-section v-else>
                <q-card-section>
                    <q-skeleton  class="q-mb-md" type="rect" v-for="i in 10"/>
                </q-card-section>
            </q-card-section>

        </q-card>
    </q-page>
</template>

<script>
    import Question from "./includes/Question";
    import {date} from 'quasar'

    export default {
        name: 'PoolAnswer',
        data() {
            return {
                pool: {
                    info: {
                        questions: []
                    },
                    completed: false
                },
                answers: [],

            }
        },
        methods: {
            async update() {
                let res = await this.$axios.get(`/pools/${this.$route.params.pool}`);
                this.pool = res.data.data;
            },
            async submit() {
                this.$q.loading.show();
                let res = await this.$axios.post(`/pools/answer/${this.$route.params.pool}`,
                    {
                        answer: this.answers
                    }).catch((err) => {
                    this.$q.notify('Произошла ошибка!')
                    throw err;
                })
                this.$q.loading.hide();
                this.pool.completed = true;

            }
        },
        computed:{
            timeOut(){
                if (!this.pool.info.time)
                    return false;

                let fd = new Date(this.pool.info.time.from)
                let td = new Date(this.pool.info.time.to)

                let now = new Date()

                return fd > now || now > td;
            },
            date(){
                return date
            }
        },
        created() {
            this.update();
        },
        components: {
            Question
        }
    }
</script>

<style scoped>
    .container{
        padding-top:30px;
        max-width: 900px;
        margin-left:auto;
        margin-right:auto;
    }
</style>