<template>
    <q-page class="q-pa-md">

        <p class="text-h2 text-center">
            {{ pool.info.name }}
        </p>
        <div class="row">
            <div class="col-12 col-md-4 col-sm-6 q-pa-md">
                <q-card class="full-height">
                    <q-scroll-area class="fit" style="min-height:200px; max-height: 400px;">

                        <q-card-section>
                            <div class="row justify-between">

                                <div class="text-h5 q-mb-md">
                                    Участники опроса:
                                </div>
                                <span>{{pool.users.length}} человек</span>
                            </div>

                            <q-list bordered>

                                <q-item v-for="student in pool.users" :key="student.id">
                                    <q-item-section avatar top>
                                        <q-avatar color="grey" text-color="white">
                                            <img :src="student.avatar">
                                        </q-avatar>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label>{{student.name}}</q-item-label>
                                    </q-item-section>

                                </q-item>
                            </q-list>

                        </q-card-section>
                    </q-scroll-area>

                </q-card>

            </div>
            <div class="col-12 col-md-4 col-sm-6 q-pa-md" v-for="q, i in pool.info.questions" :key="i">
                <Result class="full-height" :question="q" :results="getResults(i)"/>
            </div>
        </div>
        <q-table :data="tableData" :columns="tableColumns">

        </q-table>

    </q-page>
</template>

<script>
    import Question from "./includes/Question";
    import Result from "./includes/Result";
    import {date} from 'quasar'

    export default {
        name: 'PoolAnswer',
        data() {
            return {
                pool: {
                    info: {},
                    completed: false
                },
                answers: [],

            }
        },
        computed: {
            tableColumns() {
                if (!this.pool.info.questions)
                    return []
                return [
                    {
                        name: 'date',
                        field: 'date',
                        label: 'Дата',
                        required: true,
                        format: (d) => date.formatDate(d, 'DD.MM.YYYY hh:mm'),
                        align: 'left',
                        sortable: false
                    },
                    {
                        name: 'user',
                        field: 'user',
                        label: 'Участник',
                        required: true,

                        align: 'left',
                        sortable: false
                    },
                    ...this.pool.info.questions.map((q, i) => {
                        return {
                            name: i,
                            field: i,
                            label: q.title
                        }
                    })
                ]
            },
            tableData() {
                return this.pool.answers.map((a) => {
                    let data = {
                        user: a.user.name,
                        id: a.id,
                        date: a.created_at,
                    }
                    a.answer.map((t, i) => {
                        let arr = {}
                        arr[i] = t
                        return arr
                    }).forEach((x) => {
                        Object.assign(data, x)
                    })
                    return data
                })

            }
        },

        methods: {
            async update() {
                let res = await this.$axios.get(`/pools/results/${this.$route.params.pool}`);
                this.pool = res.data.data;
            },
            getResults(i) {
                if (!this.pool.answers)
                    return [];
                return this.pool.answers.map(
                    (x) => x.answer[i]
                ).filter(
                    (x) => x
                );

            }
        },
        created() {
            this.update();
        },
        components: {
            Result
        }
    }
</script>
