<nav class="actions pt-4">



	<div class="TableObject">
		<div class="header" style="font-size:25px;">
			ИУ7.РФ
		</div>
		<div class="TableObject-item">
	    <a class="btn" id="minibutton-home" href="{{page_route}}">Облако</a>
	  </div>


  
	  <div class="TableObject-item">
	    {{#overview}}<a class="btn" id="minibutton-overview" href="{{overview_path}}">Overview</a>{{/overview}}
	  </div>
	
		
		
    {{#allow_editing}}
		  <div class="TableObject-item pl-1">
				{{#allow_uploads}}
					<a class="btn" id="minibutton-upload-page" href="#">Upload</a>
	    	{{/allow_uploads}}
				{{#editable}}
					<a class="btn" id="minibutton-rename-page" href="#">Rename</a>
					<a class="btn" id="minibutton-edit-page" href="{{edit_path}}/{{escaped_url_path}}">Edit</a>
					<a class="btn btn-primary" id="minibutton-new-page" href="#">New</a>
				{{/editable}}
				{{^editable}}
					{{#newable}}
						<a class="btn btn-primary" id="minibutton-new-page" href="#">New</a>
					{{/newable}}
				{{/editable}}
			</div>
		{{/allow_editing}}
			
	</div>
</nav>