<template>
    <div>

        <q-list class="list-complete-container">
            <transition-group
                    name="list-complete" tag="p"
            >
                <q-item class="list-complete-item" clickable v-ripple v-if="category_id" :active="true"
                        active-class="bg-primary text-white"
                        @click="openParent" :key="parentCategory.id">
                    <q-item-section avatar>
                        <q-icon color="white" name="arrow_upward"/>
                    </q-item-section>
                    <q-item-section>{{activeCategory.title}}</q-item-section>
                </q-item>

                <q-item class="list-complete-item" clickable v-ripple v-for="category in activeCategory.children"
                        :key="category.id"
                        @click="category_id = category.id"
                >
                    <q-item-section avatar>
                        <q-icon color="accent" name="folder"/>
                    </q-item-section>
                    <q-item-section>{{category.title}}</q-item-section>
                </q-item>
                <q-item class="list-complete-item" clickable v-ripple v-for="post in activeCategory.posts"
                        :key="post.id"
                        :active="post.id === value"
                        active-class="bg-accent text-white"
                        @click="$emit('input', post.id)">
                    <q-item-section avatar>
                        <q-icon :color="post.id === value? 'white': 'accent'" name="book"/>
                    </q-item-section>
                    <q-item-section>{{post.title}}</q-item-section>
                </q-item>
                <q-item key="none" class="list-complete-item"
                        v-if="!(activeCategory.posts.length+activeCategory.children.length)">
                    <q-item-label>Категория пуста</q-item-label>
                </q-item>
            </transition-group>
        </q-list>
    </div>
</template>

<script>
    export default {
        name: 'CategoriesMenu',
        props: [
            "value",
            "categories",
        ],
        data() {
            return {
                category_id: 0
            }
        },
        methods: {
            openParent() {
                this.category_id = this.parentCategory.id
            },
            openSelectedCategory() {
                if (!this.value) return;

                function walker(categories, post) {
                    for (let i in categories) {
                        if (categories[i].posts.find((a) => a.id === post)) return categories[i];
                        let c = walker(categories[i].children, post);
                        if (c) return c;
                    }
                    return null;
                }

                let c = walker(this.categories, this.value);
                if (c) this.category_id = c.id;
            }
        },
        computed: {
            activeCategory() {
                function is_not_empty(element) {
                    return !!element.children.length || !!element.posts.length;
                }
                function walker(categories, category) {
                    for (let i in categories) {
                        if (categories[i].id === category) return categories[i];
                        let c = walker(categories[i].children, category);
                        if (c) return c;
                    }
                    return null;
                }

                let c = walker(this.categories, this.category_id);
                if (!c) c = {
                    id: 0,
                    title: "Корень",
                    children: this.categories,
                    posts: []
                };

                c.children = c.children.filter(is_not_empty)
                return c;
            },
            parentCategory() {
                function walker(categories, category) {
                    for (let i in categories) {
                        if (categories[i].children.find((a) => a.id === category)) return categories[i];
                        let c = walker(categories[i].children, category);
                        if (c) return c;
                    }
                    return null;
                }

                let c = walker(this.categories, this.category_id);
                if (c) return c;

                return {
                    id: 0,
                    title: "Корень",
                    children: this.categories,
                    posts: []
                };
            }


        },
        mounted() {
            this.openSelectedCategory()
        },
        watch: {
            value() {
                this.openSelectedCategory()
            }
        }

    }
</script>
<style>
    .list-complete-container {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .list-complete-item {
        transition: all .25s;
        width: 100%;
    }

    .list-complete-enter, .list-complete-leave-to
        /* .list-complete-leave-active below version 2.1.8 */
    {
        opacity: 0;
        transform: translateX(70px);
    }

    .list-complete-leave-to {
        transform: translateX(-70px);
    }

    .list-complete-leave-active {
        position: absolute;
    }
</style>
