<template>
    <q-select :rules="rules" :use-input="!val&&val!=0" map-options :dense="dense" :multiple="multiple"
              :use-chips='useChips' emit-value :filled="filled"
              :outlined='outlined' v-model="val" @input="update" :label="label" :options="filterOptions"
              @filter="filterFn">
        <template v-slot:append v-if="(val||val==0)&&multiple!=''">
            <q-icon name="fa fa-times" @click.stop="clear" class="cursor-pointer"/>
        </template>
    </q-select>
</template>

<script>
    export default {
        name: 'searchableSelect',
        props: [
            'value',
            'label',
            'options',
            'dense',
            'clearable',
            'filled',
            'outlined',
            'multiple',
            'useChips',
            'canAdd',
            'rules'
        ],
        data() {
            return {
                val: this.value,
                filterOptions: this.options
            };
        },
        methods: {
            filterFn(val, update) {
                update(() => {
                    if (val === '') {
                        this.filterOptions = this.options.filter(
                            v => v.value != 'add_new_value_id_mark'
                        );
                        if (this.canAdd) this.filterOptions.push({
                            value: 'add_new_value_id_mark',
                            label: 'Добавить'
                        })
                    } else {
                        const needle = val.toLowerCase();
                        let v = this.options[0];
                        this.filterOptions = this.options.filter(
                            v => {
                                return (v.value + v.label).toLowerCase().indexOf(needle) > -1
                            }
                        )
                    }

                })
            },
            clear() {
                this.val = null;
                this.update();
            },
            update() {
                if (this.multiple || this.multiple === "") {
                    let t = this.val.findIndex((a) => a === "add_new_value_id_mark");
                    if (t != -1) {
                        this.val.splice(t, 1);
                        this.$emit('add');
                    }
                } else if (this.val === "add_new_value_id_mark") {
                    this.val = "";
                    this.$emit('add');
                }

                if (this.multiple || this.multiple === "") {
                    let t = this.val.findIndex((a) => a === "add_new_value_id_mark");
                    if (t !== -1) {
                        this.val.splice(t, 1);
                        this.$emit('add');
                    }
                }


                this.$emit('input', this.val);
            }
        },
        mounted() {

        }
    }

</script>
