<template>
    <div v-if="question" class="q-mb-md">
        <div class="text-h6">
            {{question.title}}
            <span v-if="question.required" class="text-bold" style="color:#f00;">*</span>
        </div>
        <div v-if="question.type === 'choose'">

            <q-select
                    filled
                    label="Выберите вариант ответа"
                    :options="question.variants"
                    v-model="answer_model"
                    :rules="[requiredRule]"
            />
        </div>
        <div v-else-if="question.type === 'text'">
            <q-input
                    :rules="[requiredRule]"
                    autogrow
                    v-model="answer_model"
                    filled
                    label="Дайте развернутый ответ"
            />
        </div>
    </div>
    <div v-else>
        <q-card-section>
            <q-skeleton type="rect" />
        </q-card-section>
    </div>
</template>

<script>
    export default {
        name: "Question",
        props: [
            'question',
            'answer'
        ],
        data() {
            return {
                answer_model: ''
            }
        },
        watch: {
            answer_model(){
                this.$emit('update:answer', this.answer_model)
            }
        },
        computed:{
            requiredRule(){
                return (val)=>!this.question.required || !!val || 'Пожалуйста, заполните поле';
            },
            isRequiredMark(){
              return this.question.required ? ' *' : ''
            },
        }
    }
</script>

<style scoped>

</style>