<template>

    <q-card v-if="question">
        <q-card-section>
            <p class="text-h5">
                Вопрос: {{question.title}}
            </p>
            Варианты ответов:
            <div class="row" v-if="question.type === 'choose'">
                <q-list bordered class="col-md-6 col-12">
                    <q-item v-for="variant in question.variants">
                        <q-item-section>
                            {{variant}}
                        </q-item-section>
                        <q-item-section side="right">
                            {{results.filter((x)=>x===variant).length}} голосов
                        </q-item-section>
                    </q-item>
                </q-list>
                <PieChart  class="col-md-6 col-12" style="height: 150px;" :chartdata="chartData" :options="chartOptions"/>
            </div>
            <div v-else-if="question.type === 'text'">
                <q-list bordered>
                    <q-item v-for="ans in results">
                        {{ans}}
                    </q-item>
                    <q-item v-if="!results.length">
                        Нет ответов
                    </q-item>
                </q-list>

            </div>
        </q-card-section>

    </q-card>
    <div v-else>
        Loading...
    </div>
</template>

<script>
    import PieChart from "./PieChart";

    export default {
        name: "Result",
        components: {PieChart},
        props: [
            'question',
            'results'
        ],
        computed: {
            chartOptions() {
                return {
                    responsive: true,
                    maintainAspectRatio: false,
                    elements: {
                        arc: {
                            backgroundColor: (x) => {
                                let colors = [
                                    '#7fc908',
                                    '#20457c',
                                    '#9e2220',
                                    '#5e3448',
                                    '#fb6648',
                                    '#3b3a35',
                                    '#31CCEC',
                                    '#cf9417',
                                ];
                                return colors[x.dataIndex % colors.length]
                            },
                        }
                    }
                }
            },
            chartData() {
                return {
                    labels: this.question.variants,
                    datasets: [
                        {
                            data: this.question.variants.map(
                                (x) => this.results.filter(
                                    (y) => y === x
                                ).length),

                        }
                    ],
                }
            }
        }
    }
</script>

<style scoped>

</style>