<template>
    <div>
        <a href="#" @click="toogle">{{this.expanded? "+": "-"}} {{category.title}}</a>
        <div v-show="expanded" class="pl-4">
            <tree-view-element v-for="child in category.children" :category="child">

            </tree-view-element>

        </div>
    </div>
</template>

<script>
    export default {
        name: "TreeViewElement",
        props: ["category"],
        data() {
            return {
                expanded: false
            }
        },
        methods: {
            toogle() {
                this.expanded = !this.expanded
            }
        },
        watch:{

        }
    }
</script>

<style scoped>

</style>
