<template>
    <div>
        <span v-for="category in categories">
            <tree-view-element :category="category">

            </tree-view-element>
        </span>
    </div>
</template>

<script>
    import TreeViewElement from "./TreeViewElement";

    export default {
        name: "TreeView",
        data() {
            return {
                categories: []
            }
        },
        methods: {
            async update() {
                let res = await window.axios.get("/api/categories");
                this.categories = res.data.data
            }
        },
        created() {
            this.update()
        },
        components: {
            TreeViewElement
        }

    }
</script>

