<template>
    <q-card class="q-card">

        <q-card-section>
            <div class="text-h6">Редактировать мероприятие</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
            <q-input v-model="form.speaker" label="Преподователь"></q-input>
            <q-select v-model="form.type" :options="typeOptions" label="Тип мероприятия"/>
            <q-input v-model="form.date" mask="##.##.#### ##:##">
                <template v-slot:prepend>
                    <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-date v-model="form.date" mask="DD.MM.YYYY HH:mm" />
                        </q-popup-proxy>
                    </q-icon>
                </template>
                <template v-slot:append>
                    <q-icon name="access_time" class="cursor-pointer">
                        <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-time v-model="form.date" mask="DD.MM.YYYY HH:mm" format24h />
                        </q-popup-proxy>
                    </q-icon>
                </template>
            </q-input>
            <q-input v-model="form.name" label="Название"></q-input>
            <q-input v-model="form.theme" label="Тема"></q-input>
            <q-input v-model="form.place" label="Место"></q-input>
            <q-input v-model="form.description" type="textarea" label="Краткое описание или комментирий"></q-input>
            <q-checkbox v-model="form.checkable" label="Студент может отмечаться самостоятельно?" />
            <q-btn color="primary" @click="create">Добавить мероприятие</q-btn>
        </q-card-section>
    </q-card>
</template>

<script>
    import {date} from 'quasar'
    import EditEventVisits from "./EditEventVisits";
    export default {
        name: "AddEvent",
        computed: {
            typeOptions(){
                return [
                    "Семинар",
                    "Лабораторная работа",
                    "Лекция",
                    "Консультация",
                    "Экзамен",
                ]
            }
        },
        data() {
            return {
                form: {
                    speaker: "",
                    date: date.formatDate(date.addToDate(date.startOfDate(new Date(), 'day'), {
                        days: 2
                    }), "DD.MM.YYYY HH:mm"),
                    name: "",
                    theme: "",
                    description: ""
                }
            }
        },
        methods: {
            async create() {
                let res = await this.$axios.post("/group/events", this.form).catch(() => {
                    this.$q.notify("Произошла ошибка! Проверить правильность заполнения полей.")
                });
                this.$emit("created")
            },
        },
    }
</script>

<style scoped>

</style>