<template>
    <q-card class="q-card">

        <q-card-section>
            <div class="text-h6">Редактировать посещения</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
            <q-list v-if="students.length">
                <q-item-label header>Присутствовали</q-item-label>
                <transition-group name="list">
                    <q-item v-for="student in visited" :key="student.id">
                        <q-item-section avatar top>
                            <q-btn round dense flat size="md" icon="close" color="negative" @click="removeStudent(student)"/>
                        </q-item-section>
                        <q-item-section avatar top>
                            <q-avatar color="grey" text-color="white">
                                <img :src="student.avatar">
                            </q-avatar>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label>{{student.name}}</q-item-label>
                        </q-item-section>

                    </q-item>
                </transition-group>
                <q-banner class="bg-primary text-white" v-if="!visited.length">
                    Никто не присутствовал
                </q-banner>
                <q-separator />

                <q-item-label header>Отсутствовали</q-item-label>
                    <transition-group name="list">
                        <q-item v-for="student in unvisited" :key="student.id" class="list-item">
                            <q-item-section avatar top>
                                <q-btn  round dense flat size="md" icon="add" color="primary" @click="addStudent(student)"/>
                            </q-item-section>
                            <q-item-section avatar top>
                                <q-avatar color="grey" text-color="white">
                                    <img :src="student.avatar">
                                </q-avatar>
                            </q-item-section>
                            <q-item-section>
                                <q-item-label>{{student.name}}</q-item-label>
                                <div class = "float-right">

                                </div>
                            </q-item-section>
                        </q-item>
                </transition-group>
                <q-banner class="bg-primary text-white" v-if="!unvisited.length">
                    Все присутствовали
                </q-banner>
            </q-list>
            <q-skeleton height="900px" square v-else/>
        </q-card-section>
        <q-card-actions>
            <q-btn icon="save" label="Применить изменения" color="primary" @click="update"/>
        </q-card-actions>
    </q-card>
</template>

<script>
    import {date} from 'quasar'

    export default {
        name: "EditEventVisits",
        props: ["event"],
        computed: {
            visited() {
                return this.students.filter((student) =>
                    this.visited_ids.find((id) => id == student.id)
                )
            },
            unvisited() {
                return this.students.filter((student) =>
                    !this.visited_ids.find((id) => id == student.id)
                )
            }
        },
        data() {
            return {
                visited_ids: [],
                students: []
            }
        },
        methods: {
            async update() {
                await this.$axios.patch(`/group/events/${this.event.id}/visits`, {
                    students: this.visited_ids
                });
                this.$emit("edited");
            },
            async updateStudents() {
                let res = await this.$axios('/group/students');
                this.students = res.data.data;
            },
            addStudent(student){
                this.visited_ids.push(student.id);
            },
            removeStudent(student){
                this.visited_ids = this.visited_ids.filter(
                    (id)=> student.id != id
                );
            }

        },
        created() {
            this.updateStudents();
            this.visited_ids = this.event.visits.map((visit) => visit.user.id);
        }
    }
</script>

<style scoped>
    .q-card {
        width: 500px;
    }
    .list-enter-active, .list-leave-active {
        transition: all 0.1s;
        overflow-y:hidden;
        margin-top:0;
        opacity: 1;
    }
    .list-enter, .list-leave-to {
        opacity: 0;
        height: 0;
        margin-top:-48px;
        overflow-y:hidden;
        transition: all 0.1s;
    }
    .list-item
    {
        height:56px;
    }

</style>