<template>
    <q-card :class="cardClasses" bordered style="border-radius: 30px;" dense>
        <q-card-section>
            <div>
                <q-chip icon="warning" v-if="event.checkable" color="negative" text-color="white"> Самостоятельная отметка</q-chip>
                <q-chip icon="schedule">
                    {{date.formatDate(event.date, "HH:mm")}} -
                    {{date.formatDate(date.addToDate(event.date,{ minutes: 95 }), "HH:mm")}}
                </q-chip>
                <q-chip icon="place" v-if="event.place">{{event.place}}</q-chip>
                <q-chip icon="pets" v-if="event.type">{{event.type}}</q-chip>
                <q-chip icon="person" v-if="event.speaker">
                    {{speakerShort}}
                    <q-tooltip content-style="font-size: 16px">
                        <div v-for="speaker in event.speaker.split(' и ')">
                            {{speaker}}
                        </div>
                    </q-tooltip>
                </q-chip>
            </div>

            <div class="text-h5 q-mt-sm q-mb-xs">{{event.name}}</div>
            <div class="text-h6" v-if="event.theme">{{event.theme}}</div>

            <VueMarkdown :source="event.description" class="text-caption"/>
        </q-card-section>

        <q-card-actions>
            <div v-if="!isVisited">
                <q-btn rounded color="primary" label="Посетить" @click="visit" v-if="!canVisit"/>
                <q-chip icon="warning" color="warning" text-color="white" v-else> {{canVisit}}</q-chip>
            </div>

            <q-chip icon="timer" color="positive" v-if="canShowTimer">
                Через
                {{-parseInt(timeDiff / 60/ 60 /1000)}} ч.
                {{-parseInt(timeDiff / 60 / 1000 % 60)}} м.
                {{-parseInt(timeDiff / 1000 % 60)}} с.
            </q-chip>
            <q-chip color="positive" text-color="white" icon="check" v-if="isVisited">
                Вы успешно отметились!
            </q-chip>
            <q-space/>
            <q-btn
                    v-if="isLeader"
                    color="danger"
                    round
                    flat
                    dense
                    icon="delete"
                    @click="removeEvent"
            />

            <q-btn
                    v-if="isLeader"
                    color=""
                    round
                    flat
                    dense
                    icon="edit"
                    @click="editEvent"
            />

            <q-btn
                    color="grey"
                    round
                    flat
                    dense
                    :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
                    @click="expanded = !expanded"
            />


        </q-card-actions>
        <q-dialog v-model="expanded">
            <q-card class="dialog-card-set-width">
                <q-card-section>
                    <div class="text-h6">Посещения</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                    <q-list v-if="event.visits.length">
                        <p>Присутствовало {{event.visits.length}} человек:</p>
                        <q-item v-for="visit in sortedVisits" :key="visit.user.id">
                            <q-item-section avatar top>
                                <q-avatar color="grey" text-color="white">
                                    <img :src="visit.user.avatar">
                                </q-avatar>
                            </q-item-section>
                            <q-item-section>
                                <q-item-label>
                                    {{visit.user.name}}
                                </q-item-label>
                            </q-item-section>
                        </q-item>
                    </q-list>
                    <q-banner class="bg-primary text-white" v-else>
                        <template v-slot:avatar>
                            <q-icon name="insert_emoticon" color="white"/>
                        </template>
                        Мероприятие не имееет слушателей
                    </q-banner>
                </q-card-section>

                <q-card-actions align="right">
                    <q-btn flat label="Закрыть" color="primary" v-close-popup />
                </q-card-actions>
            </q-card>
        </q-dialog>
    </q-card>
</template>

<script>
    import {date} from 'quasar'
    import VueMarkdown from 'vue-markdown'

    export default {
        name: "Event",
        props: [
            "event", "time"
        ],
        data() {
            return {
                expanded: false
            }
        },
        methods: {
            async visit() {

                if (this.canVisit) {
                    this.$q.notify(this.canVisit);
                    return;
                }

                let res = await this.$axios(`/group/events/${this.event.id}/visit`).catch((e)=>{
                    this.$q.notify("Произошла ошибка!");
                    throw e
                });

                this.$q.notify("Вы успешно отметились на занятии!");

                this.$emit("update");
            },
            async removeEvent() {
                this.$q.dialog({
                    title: 'Внимание!',
                    message: 'Вы действительно хотите удалить это мероприятие?',
                    cancel: true,
                    persistent: true
                }).onOk(async () => {
                    await this.$axios(`/group/events/${this.event.id}/destroy`).catch(() => {
                        this.$q.notify("Произошла ошибка!");
                        this.$emit("update");
                    });
                    this.$q.notify("Вы удалили мероприятие!");
                    this.$emit("update");
                })
            },

            sortStudentsFunc(a, b) {
                return a.user.name.split(" ").reverse().join(" ")
                > b.user.name.split(" ").reverse().join(" ") ? 1 : -1;
            },
            editEvent() {
                this.$emit("edit", this.event);
            },
        },
        computed: {
            timeDiff() {
                return (new Date(this.time) - new Date(this.event.date));
            },
            isVisited() {
                return !!this.event.visits.filter((v) => v.user.id == this.$store.state.user.data.id).length
            },
            canVisit() {
                if (this.timeDiff < -5 * 60 * 1000) {
                    return "Мероприятие не началось";
                }
                if (this.timeDiff > 30 * 60 * 1000) {
                    return "Вы не присутствовали";
                }
                if (!this.event.checkable)
                    return "Отмечаться запрещено"
                return 0
            },
            isStarted() {
                let diff = this.timeDiff;
                return diff > 0;
            },
            isActive() {
                let diff = this.timeDiff;
                return this.isStarted && diff < 125 * 60 * 1000;
            },
            canShowTimer() {
                let diff = this.timeDiff;
                return !this.isStarted && diff > -180 * 60 * 1000;
            },
            date() {
                return date;
            },
            cardClasses() {
                let classes = [];
                if (this.isActive) classes.push("")
                return classes
            },
            isLeader() {
                return this.$store.getters["user/isLeader"]
            },
            sortedVisits() {
                return this.event.visits.sort(this.sortStudentsFunc);
            },
            speakerShort() {
                return this.event.speaker.split(" и ").map((s)=>{
                    let splited = s.split(" ");
                    let name = splited[0] + " " + splited.slice(1).map((x)=>x[0]+".").join('');
                    return name
                }).join(", ")
            },
        },
        components: {
            VueMarkdown
        }
    }
</script>

<style scoped>
.dialog-card-set-width
{
    width:500px;
}
.q-chip
{
    max-width: 100%;
    overflow-x: auto;
}
</style>