<template>
    <div>
        <q-item>
            <q-item-section>
                <q-item-label>
                    <q-checkbox v-model="task.done" disable/>
                    {{task.name}}
                </q-item-label>
                <q-item-label>
                    <q-chip icon="schedule">до {{date.formatDate(task.deadline, "DD.MM.YYYY")}}</q-chip>
                    <q-chip icon="schedule" v-if="timeDiffDays > 0">Осталость {{timeDiffDays}} дней</q-chip>
                    <q-chip icon="pets" v-if="task.subject" style="overflow-x: auto; overflow-y: hidden;">
                        {{task.subject}}
                    </q-chip>
                </q-item-label>
                <q-item-label caption v-if="task.description">
                    <VueMarkdown :source="task.description" style="overflow-x: auto; overflow-y: hidden;"></VueMarkdown>
                </q-item-label>
            </q-item-section>
        </q-item>
        <q-separator/>
    </div>

</template>

<script>
    import {date} from 'quasar'
    import VueMarkdown from 'vue-markdown'

    export default {
        name: "Task",
        props: [
            "task", "time"
        ],
        data() {
            return {
                expanded: false
            }
        },
        methods: {
            async removeEvent() {
                this.$q.dialog({
                    title: 'Внимание!',
                    message: 'Вы действительно хотите удалить это мероприятие?',
                    cancel: true,
                    persistent: true
                }).onOk(async () => {
                    await this.$axios(`/group/events/${this.event.id}/destroy`).catch(() => {
                        this.$q.notify("Произошла ошибка!");
                        this.$emit("update");
                    });
                    this.$q.notify("Вы удалили мероприятие!");
                    this.$emit("update");
                })
            },

            sortStudentsFunc(a, b) {
                return a.user.name.split(" ").reverse().join(" ")
                > b.user.name.split(" ").reverse().join(" ") ? 1 : -1;
            },
            editEvent() {
                this.$emit("edit", this.event);
            },
        },
        computed: {
            timeDiff() {
                return (new Date(this.time) - new Date(this.task.deadline));
            },
            timeDiffDays() {
                return parseInt(-this.timeDiff / (24 * 60 * 60 * 1000))
            },
            isVisited() {
                //return !!this.event.visits.filter((v) => v.user.id == this.$store.state.user.data.id).length
            },
            canVisit() {
                //if (this.timeDiff < -5 * 60 * 1000) {
                //    return "Мероприятие не началось";
                //}
                //if (this.timeDiff > 30 * 60 * 1000) {
                //    return "Вы не присутствовали";
                //}
                //return 0
            },
            isStarted() {
                //let diff = this.timeDiff;
                //return diff > 0;
            },
            isActive() {
                //let diff = this.timeDiff;
                //return this.isStarted && diff < 125 * 60 * 1000;
            },
            canShowTimer() {
                //let diff = this.timeDiff;
                //return !this.isStarted && diff > -180 * 60 * 1000;
            },
            date() {
                return date;
            },
            isLeader() {
                return this.$store.getters["user/isLeader"]
            },
        },
        components: {
            VueMarkdown
        }
    }
</script>

<style scoped>

</style>