<template>
    <q-layout view="hhh LpR lfF">

        <q-header reveal  elevated class="bg-primary text-white md" v-if="false">
            <q-toolbar>

                <q-tabs
                        dense
                        inline-label
                >
                    <q-route-tab to="/" name="home" icon="home" label="Главная" />
                    <q-route-tab to="/cloud" name="files" icon="cloud" label="Файлы" v-if="isStudent" />
                    <q-route-tab to="/group" name="group" icon="group" label="Группа"
                                 v-if="isGroupActive" />
                    <q-route-tab to="/moderator" name="moderator" icon="dashboard" label="Модератор"
                                 v-if="isModerator"/>
                </q-tabs>
                <q-space/>
                <q-skeleton type="QBtn" v-if="!user.loaded"/>
                <q-btn-dropdown auto-close stretch
                        color="white"
                        flat
                        :label="user.data.name" v-else-if="user.auth"
                >
                    <div class="row no-wrap q-pa-md">
                        <div class="column">
                            <div class="text-h6 q-mb-md">Настройки</div>
                            <q-toggle v-model="darkMode" label="Ночной режим"/>
                        </div>

                        <q-separator vertical inset class="q-mx-lg"/>

                        <div class="column items-center">
                            <q-avatar size="72px">
                                <img :src="user.data.avatar">
                            </q-avatar>

                            <div class="text-subtitle1 q-mt-md ">{{user.data.name}}</div>
                            <div class="text-subtitle2 q-mb-xs" v-if="user.data.contingent">{{user.data.contingent.group}}</div>

                            <q-btn
                                    color="primary"
                                    label="Выйти"
                                    size="sm"
                                    v-close-popup
                                    to="/logout"
                            />
                        </div>
                    </div>
                </q-btn-dropdown>
                <q-btn v-else label="Войти" to="/login"/>

            </q-toolbar>
        </q-header>
        <q-page-container>
            <transition
                    appear
                    enter-active-class="animated fadeIn"
                    leave-active-class="animated fadeOut"
                    out-in
            >
                <router-view/>
            </transition>
        </q-page-container>

        <q-footer>
            <q-tabs

                    class="bg-primary text-white shadow-2"
            >
                <q-route-tab ripple to="/" name="home" icon="home" />
                <q-route-tab ripple to="/cloud" name="files" icon="cloud" v-if="isStudent" />
                <q-route-tab ripple to="/group" name="group" icon="group" v-if="isGroupActive" />
                <q-route-tab ripple to="/moderator" name="moderator" icon="dashboard" v-if="isModerator"/>
                <q-skeleton type="QBtn" v-if="!user.loaded"/>
                <q-btn-dropdown
                        auto-close
                        stretch
                        color="white"
                        flat
                        ripple
                        v-else-if="user.auth"
                >
                    <template v-slot:label>
                        <div>
                            <div class="row justify-around items-center no-wrap">
                                <q-icon name="perm_identity" />
                            </div>
<!--                            <div class="row items-center no-wrap">-->
<!--                                {{user.data.contingent.name}}-->
<!--                            </div>-->
                        </div>
                    </template>

                    <div class="row no-wrap q-pa-md">
                        <div class="column">
                            <div class="text-h6 q-mb-md">Настройки</div>
                            <q-toggle v-model="darkMode" label="Ночной режим"/>
                        </div>

                        <q-separator vertical inset class="q-mx-lg"/>

                        <div class="column items-center">
                            <q-avatar size="72px">
                                <img :src="user.data.avatar">
                            </q-avatar>

                            <div class="text-subtitle1 q-mt-md ">{{user.data.name}}</div>
                            <div class="text-subtitle2 q-mb-xs" v-if="user.data.contingent">{{user.data.contingent.group}}</div>

                            <q-btn
                                    color="primary"
                                    label="Выйти"
                                    size="sm"
                                    v-close-popup
                                    to="/logout"
                            />
                        </div>
                    </div>
                </q-btn-dropdown>
                <q-route-tab to="/login" name="login" icon="vpn_key" label="Войти" v-else />


            </q-tabs>
        </q-footer>

    </q-layout>
</template>

<script>
    import {openURL} from 'quasar'
    import CategoriesMenu from "../components/CategoriesMenu";
    import Footer from "./includes/Footer";

    export default {
        data() {
            return {
                left: false,
                darkMode: false,
                categories: {
                    selected: '',
                    filter: '',
                    load: false,
                    data: []
                },
            }
        },
        methods: {
            openURL,
            async updateCategories() {
                let res = await this.$axios.get('/categories');
                this.categories.data = res.data.data;
                this.categories.load = true;
                this.selectCurrentPost()

            },
            openPost() {
                this.$router.push({name: 'post', params: {post: this.categories.selected}})
            },
            selectCurrentPost() {
                if (this.$route.name !== "post") return  this.categories.selected=null;
                this.categories.selected = parseInt(this.$route.params.post)
            },
        },
        mounted() {
            this.$store.dispatch('user/update');
            this.$store.dispatch('events/update');

            this.updateCategories();
            this.darkMode = localStorage.getItem('darkMode') === "true";
        },
        computed: {
            TreeCategoties() {
                function is_not_empty(element) {
                    return !!element.children.length || !!element.posts.length;
                }

                function walker(element) {
                    return {
                        id: element.id,
                        title: element.title,
                        selectable: false,
                        children: [
                            ...element.children.filter(is_not_empty).map(walker),
                            ...element.posts.map((p) => {
                                return {
                                    id: "p" + p.id,
                                    title: p.title,
                                    selectable: true
                                }
                            })
                        ]
                    }
                }

                if (!this.categories.load) return {};
                return this.categories.data.filter(is_not_empty).map(walker)
            },
            user() {
                return this.$store.state.user
            },
            isModerator() {
                return this.$store.getters["user/isModerator"]
            },
            isStudent() {
                return this.user.data && this.user.data.contingent
            },
            isGroupActive() {
                return this.$store.getters["events/isActive"]
            },
        },
        watch: {
            darkMode(v) {
                localStorage.setItem('darkMode', v);
                this.$q.dark.set(v);
            },
            "$route"(){
              this.selectCurrentPost()
            }
        },
        components: {
            CategoriesMenu,
            Footer
        }
    }
</script>
