<template>
    <q-layout view="hhh LpR fff">

        <q-header reveal  elevated class="bg-primary text-white">
            <q-toolbar>
                <q-btn dense flat round icon="menu" @click="left = !left"/>

                <q-toolbar-title>
                    <q-btn v-ripple label="IU7" size="lg" no-caps color="white" flat to="/"/>


                </q-toolbar-title>
                <q-space/>
                <q-skeleton type="QBtn" v-if="!user.loaded"/>
                <q-btn-dropdown
                        color="white"
                        flat
                        :label="user.data.name" v-else-if="user.auth"
                >
                    <div class="row no-wrap q-pa-md">
                        <div class="column">
                            <div class="text-h6 q-mb-md">Настройки</div>
                            <q-toggle v-model="darkMode" label="Ночной режим"/>
                            <!--    <q-toggle v-model="mobileData" label="Use Mobile Data" />
                                 <q-toggle v-model="mobileData" label="Use Mobile Data" />
                                <q-toggle v-model="bluetooth" label="Bluetooth" />-->
                        </div>

                        <q-separator vertical inset class="q-mx-lg"/>

                        <div class="column items-center">
                            <q-avatar size="72px">
                                <img :src="user.data.avatar">
                            </q-avatar>

                            <div class="text-subtitle1 q-mt-md ">{{user.data.name}}</div>
                            <div class="text-subtitle2 q-mb-xs" v-if="user.data.contingent">{{user.data.contingent.group}}</div>

                            <q-btn
                                    color="primary"
                                    label="Выйти"
                                    size="sm"
                                    v-close-popup
                                    to="/logout"
                            />
                        </div>
                    </div>
                </q-btn-dropdown>
                <q-btn v-else label="Войти" to="/login"/>

            </q-toolbar>
        </q-header>

        <q-drawer show-if-above v-model="left" side="left" elevated>


            <!--<q-input filled v-model="categories.filter" label="Поиск"></q-input>
            <q-tree ref="tree"
                    v-if="TreeCategoties.length"
                    :nodes="TreeCategoties"
                    node-key="id"
                    label-key="title"
                    selected-color="accent"
                    :selected.sync="categories.selected"
                    :filter="categories.filter"
                    default-expand-all
                    no-connectors
                    @update:selected="openPost"
            />
            <q-skeleton height="400px" v-else/>-->

            <q-btn label="Добавить материал" to="/post/publish" class="full-width" color="accent" icon="add"/>
            <q-btn label="Панель модератора" to="/moderator" class="full-width q-mb-md" color="primary"
                   v-if="isModerator"/>
            <q-btn label="Группа"
                   to="/group"
                   class="full-width q-mb-md"
                   color="primary"
                   v-if="isGroupActive"/>
            <categories-menu :categories="categories.data" v-model="categories.selected" @input="openPost"/>

        </q-drawer>
p
        <q-page-container>
            <transition
                    appear
                    enter-active-class="animated fadeIn"
                    leave-active-class="animated fadeOut"
                    out-in
            >
                <router-view/>
            </transition>
        </q-page-container>

        <footer/>

    </q-layout>
</template>

<script>
    import {openURL} from 'quasar'
    import CategoriesMenu from "../components/CategoriesMenu";
    import Footer from "./includes/Footer";

    export default {
        data() {
            return {
                left: false,
                darkMode: false,
                categories: {
                    selected: '',
                    filter: '',
                    load: false,
                    data: []
                },
            }
        },
        methods: {
            openURL,
            async updateCategories() {
                let res = await this.$axios.get('/categories');
                this.categories.data = res.data.data;
                this.categories.load = true;
                this.selectCurrentPost()

            },
            openPost() {
                this.$router.push({name: 'post', params: {post: this.categories.selected}})
            },
            selectCurrentPost() {
                if (this.$route.name !== "post") return  this.categories.selected=null;
                this.categories.selected = parseInt(this.$route.params.post)
            },
        },
        mounted() {
            this.$store.dispatch('user/update');
            this.$store.dispatch('events/update');

            this.updateCategories();
            this.darkMode = localStorage.getItem('darkMode') === "true";
        },
        computed: {
            TreeCategoties() {
                function is_not_empty(element) {
                    return !!element.children.length || !!element.posts.length;
                }

                function walker(element) {
                    return {
                        id: element.id,
                        title: element.title,
                        selectable: false,
                        children: [
                            ...element.children.filter(is_not_empty).map(walker),
                            ...element.posts.map((p) => {
                                return {
                                    id: "p" + p.id,
                                    title: p.title,
                                    selectable: true
                                }
                            })
                        ]
                    }
                }

                if (!this.categories.load) return {};
                return this.categories.data.filter(is_not_empty).map(walker)
            },
            user() {
                return this.$store.state.user
            },
            isModerator() {
                return this.$store.getters["user/isModerator"]
            },
            isGroupActive() {
                return this.$store.getters["events/isActive"]
            },
        },
        watch: {
            darkMode(v) {
                localStorage.setItem('darkMode', v);
                this.$q.dark.set(v);
            },
            "$route"(){
              this.selectCurrentPost()
            }
        },
        components: {
            CategoriesMenu,
            Footer
        }
    }
</script>
