<template>
  <div id="q-app">
    <router-view/>
  </div>
</template>

<script>
    import Vue from 'vue'
    import VueShowdown from 'vue-showdown'

    Vue.use(VueShowdown)

    export default {
        name: 'App',
        data(){
          return {
            version: '202010010000',
          }
        },
        methods:{
          async loadUpdates(){
            let res = await this.$axios('/actual_version?timestamp='+(new Date()).getTime())
            if (res.data.version != this.version)
              this.clearCache()
          },
          async clearCache()
          {
              this.$q.loading.show({
                message: 'Установка обновления...'
              })
              let names = await caches.keys()
              names.forEach((name)=>{
                caches.delete(name);
              })
              setTimeout(()=>location.reload(), 500)

          }
        },
        created(){
          this.loadUpdates();
        }
    }
</script>
