<template>
    <q-footer bordered class="bg-grey-8 text-white">
        <q-toolbar>
            <q-toolbar-title>
                Created by cool guys from IU7.
            </q-toolbar-title>
            Версия α2603202001000
        </q-toolbar>
    </q-footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>