<template>
    <q-page>

        <q-btn label="Добавить материал" :to="{name:'publish'}" class="full-width" color="accent" icon="add"/>
        Мы сейчас перенаправим на новую версию
        <!--        <categories-menu :categories="categories.data" v-model="categories.selected" @input="openPost"/>-->
    </q-page>
</template>
<script>
    import CategoriesMenu from "../components/CategoriesMenu";
    import {openURL} from "quasar";
    import Footer from "../layouts/includes/Footer";

    export default {
        name: 'Cloud',
        components: {
            CategoriesMenu
        },
        data() {
            return {
                categories: {
                    selected: '',
                    filter: '',
                    load: false,
                    data: []
                },
            }
        },
        methods: {
            openURL,
            async updateCategories() {
                let res = await this.$axios.get('/categories');
                this.categories.data = res.data.data;
                this.categories.load = true;
                this.selectCurrentPost()

            },
            openPost() {
                this.$router.push({name: 'post', params: {post: this.categories.selected}})
            },
            selectCurrentPost() {
                if (this.$route.name !== "post") return  this.categories.selected=null;
                this.categories.selected = parseInt(this.$route.params.post)
            },
        },
        mounted() {
            this.$store.dispatch('user/update');
            this.$store.dispatch('events/update');

            this.updateCategories();
            this.darkMode = localStorage.getItem('darkMode') === "true";

            window.location.href = "https://облако.иу7.рф/"
        },
        computed: {
            TreeCategoties() {
                function is_not_empty(element) {
                    return !!element.children.length || !!element.posts.length;
                }

                function walker(element) {
                    return {
                        id: element.id,
                        title: element.title,
                        selectable: false,
                        children: [
                            ...element.children.filter(is_not_empty).map(walker),
                            ...element.posts.map((p) => {
                                return {
                                    id: "p" + p.id,
                                    title: p.title,
                                    selectable: true
                                }
                            })
                        ]
                    }
                }

                if (!this.categories.load) return {};
                return this.categories.data.filter(is_not_empty).map(walker)
            },
        },
        watch: {
            darkMode(v) {
                localStorage.setItem('darkMode', v);
                this.$q.dark.set(v);
            },
            "$route"(){
                this.selectCurrentPost()
            }
        },
    }
</script>