<template>
    <q-page class="q-pa-lg" v-if="user.auth">
        <div v-if="file.loaded">
            <q-card>
                <q-item>
                    <q-item-section>
                        <q-item-label>
                            <h1>Файл: {{file.data.name}}</h1>
                            <q-chip color="primary" text-color="white">Тип: {{file.data.type}}</q-chip>
                        </q-item-label>
                    </q-item-section>
                </q-item>
                <q-card-section v-if="isCode(file.data.type)">
                    <p>Предпросмотр файла:</p>
                    <code>
                        <pre :class="proglang">{{file.code}}</pre>
                    </code>
                </q-card-section>
                <q-card-section v-else-if="isText(file.data.type)">
                    <p>Предпросмотр файла:</p>
                    <iframe :src="'https://docs.google.com/viewer?embedded=true&url='+file.data.path" frameborder="no"
                            style="width:100%;height:90vh"></iframe>
                </q-card-section>

                <q-card-section v-else-if="isImage(file.data.type)">
                    <p>Предпросмотр файла:</p>
                    <q-img :src="file.data.path" :alt="file.data.name"/>
                </q-card-section>
                <q-card-section v-else>
                    <q-banner class="bg-grey-3">
                        <template v-slot:avatar>
                            <q-icon name="warning" color="primary"/>
                        </template>
                        Предпросмотр недоступен.
                    </q-banner>
                </q-card-section>

                <q-btn color="primary" icon="cloud_download" class="full-width" size="lg" @click="download" type="a"
                       :href="file.data.path" :download="file.data.name">
                    <span class="q-ml-sm"> Загрузить файл ({{Math.round(file.data.size/10.24)/100}} КБ)</span>
                </q-btn>
            </q-card>

        </div>

    </q-page>
    <q-page v-else class="flex flex-center">
        <div class="column">
            <div class="text-center">
                <q-btn icon="security" color="primary" size="large" round to="/login"/>
            </div>
            <span class="q-mt-md">Сначала авторизируйтесь</span>
        </div>

    </q-page>
</template>

<script>
    import {date, openURL} from 'quasar';
    import hljs from 'highlight.js';


    export default {
        name: 'File',
        data() {
            return {
                file: {
                    loaded: false,
                    code: '',
                    data: {}
                },
            }
        },
        methods: {
            async updateFile() {
                this.file.loaded = false;
                let res = await this.$axios(`/files/${this.fileId}`).catch(() => {

                });
                this.file.loaded = true;
                this.file.data = res.data.data;

                if (this.isCode(this.file.data.type)) {
                    this.file.loaded = false;
                    let res = await this.$axios.get(this.file.data.path);
                    this.file.code = res.data;
                    this.file.loaded = true;
                    await this.$nextTick();
                    document.querySelectorAll('code').forEach((block) => {
                        hljs.highlightBlock(block);
                    });

                }


            },
            isCode(type) {
                if (!type) return false;
                type = type.toLowerCase();
                let types = ["py", "php", "js", "asm", "txt", "md"];

                for (let t in types) {
                    if (types[t] == type) return true;
                }
                return false;
            },
            isText(type) {
                if (!type) return false;
                type = type.toLowerCase();
                let types = ["doc", "docx", "odt", "pdf", "txt"];

                for (let t in types) {
                    if (types[t] == type) return true;
                }
                return false;
            },
            isImage(type) {
                if (!type) return false;
                type = type.toLowerCase();
                let types = ["jpg", "jpeg", "png", "svg", "bmp"];

                for (let t in types) {
                    if (types[t] == type) return true;
                }
                return false;
            }
        },
        mounted() {
            this.updateFile();
        },
        computed: {
            fileId() {
                return this.$route.params.file
            },
            date() {
                return date;
            },
            user() {
                return this.$store.state.user
            },
            proglang() {

                let t = this.file.data.type
                let types = {
                    "py": "lang-python",
                    "php": "lang-php",
                    "js": "lang-js",
                    "asm": "lang-asm",
                    "txt": "plaintext",
                    "md": "markdown"
                };

                return types[t] || "";

            }
        },
        watch: {
            fileId() {
                this.updateFile()
            }
        }
    }
</script>
