<template>
    <q-page class="q-pa-lg">
        <div>
            <q-card>
                <q-item>
                    <q-item-section>
                        <q-item-label>
                            <p class="text-h1">
                                Привет!
                            </p>
                            <p>
                                Нужна помощь в разработке модуля "облако". <br>
                                <b> Чем можно помочь? </b> <br>
                                <ul>
                                    <li>
                                        Написать или взять готовый модуль парсинга маркдауна с поддержкой оглавлений,
                                        таблиц, латеха и подсветкой кода и внедрить его в систему.
                                    </li>
                                    <li>
                                        Пофиксить предпросмотр файлов. PDF, DOCX, ODT, Code.
                                    </li>
                                    <li>
                                        Поддержка материалов. Написание / редактирование.
                                    </li>
                                    <li>
                                        Перерисовать весь раздел.
                                    </li>
                                </ul>
                            <q-expansion-item
                                    expand-separator
                                    label="Какой стек?"
                            >
                                <q-card>
                                    <q-card-section>
                                        Сейчас фронтэнд работает на Vue.js@2 + Quasar UI. <br>
                                        Можно реализовать в любом фреймворке, лишь бы работало и поддерживалось. <br>
                                        API сервера <pre>iu7.larin.tech/api/</pre> доступ по Bearer токену, который выдаётся при авторизации. (Можешь его вытащить из консоли js <pre>localStorage.getItem('api_token')</pre>) <br>
                                        Запросы:
                                        <ul>
                                            <li>
                                                <pre>@app_url/api/categories</pre>  - просмотр всех статей
                                            </li>

                                            <li>
                                                <pre>@app_url/api/posts/@post_id</pre> - просмотр отдельного поста
                                            </li>
                                        </ul>

                                    </q-card-section>
                                </q-card>
                            </q-expansion-item>
                                Вдруг, если тебя заинтересовало. Пиши <a href="https://t.me/volodyalarin">@volodyalarin</a>.

                            </p>
                        </q-item-label>

                    </q-item-section>
                </q-item>
                <q-card-section>

                </q-card-section>


            </q-card>

        </div>

    </q-page>
</template>

<script>
    export default {
        name: 'PageIndex'
    }
</script>
