<template>

    <q-page class="q-pa-lg" v-if="user.auth">
        <div>
            <q-card>
                <q-item>
                    <q-item-section>
                        <q-item-label>
                            <h1 v-if="post.loaded">{{post.data.title}}</h1>
                            <q-skeleton type="text" v-else/>
                            <q-btn icon="edit" color="primary" label="Редактировать" :to="`/moderator/posts/${post.data.id}`" v-if="isModerator"/>
                        </q-item-label>
                    </q-item-section>
                </q-item>
                <q-card-section v-if="post.loaded" class="post-data">

                    <VueMarkdown
                        :source="post.data.body"
                        :toc="true"
                        :watches="['source']"
                        
                    />
                </q-card-section>
                <q-skeleton height="200px" square v-else/>
                <q-card-actions v-if="post.loaded">
                    <q-list v-if="post.data.files.length">
                        <q-item-label header>Прикрепленные файлы:</q-item-label>

                        <q-item clickable v-ripple v-for="file in post.data.files" :to="fileUrl(file)">
                            <q-item-section avatar top>
                                <q-avatar icon="assignment" color="grey" text-color="white"/>
                            </q-item-section>
                            <q-item-section>
                                <q-item-label lines="1">{{file.name}}</q-item-label>
                                <q-item-label caption>Тип файла: {{file.type}}, объём:
                                    {{Math.round(file.size/10.24)/100}} КБ
                                </q-item-label>
                            </q-item-section>
                        </q-item>
                    </q-list>
                    <q-list v-if="false">
                        <q-item-label header>Автор:</q-item-label>
                        <q-item>
                            <q-item-section avatar>
                                <q-avatar>
                                    <img :src="post.data.author.avatar">
                                </q-avatar>
                            </q-item-section>
                            <q-item-section>
                                <q-item-label>{{post.data.author.name}}</q-item-label>
                                <q-item-label caption>{{date.formatDate(post.data.created_at,'DD.MM.YYYY HH:mm')}}
                                </q-item-label>
                            </q-item-section>
                        </q-item>
                    </q-list>

                </q-card-actions>
                <q-card-actions align="right" class="q-gutter-md" v-else="!post.loaded">
                    <q-skeleton type="QBtn"/>
                    <q-skeleton type="QBtn"/>
                </q-card-actions>
            </q-card>
            <q-drawer
                    side="right"
                    v-model="drawerRight"
                    bordered
                    :width="200"
                    :breakpoint="500"
                    content-class="bg-grey-3"

            >
                <q-scroll-area class="fit">
                    <div id="boom" v-once></div>
                </q-scroll-area>
            </q-drawer>
        </div>

    </q-page>
    <q-page v-else class="flex flex-center">
        <div class="column">
            <div class="text-center">
                <q-btn icon="security" color="primary" size="large" round to="/login"/>
            </div>
            <span class="q-mt-md">Сначала авторизируйтесь</span>
        </div>

    </q-page>
</template>

<script>
    import {date} from 'quasar';
    import Prism from 'prismjs';
    import VueMarkdown from 'vue-markdown'
    // import MarkdownItVue from 'markdown-it-vue'
    import 'markdown-it-vue/dist/markdown-it-vue.css'


    export default {
        name: 'Post',
        data() {
            return {
                post: {
                    loaded: false,
                    data: {}
                },
                drawerRight: true,
            }
        },
        methods: {
            async updatePost() {
                this.post.loaded = false;
                let res = await this.$axios(`/posts/${this.postId}`).catch(() => {

                });
                this.post.loaded = true;
                this.post.data = res.data.data;
                await this.$nextTick();
                this.toc = true;
                await this.$nextTick();
                // let children = document.getElementById('boom').children[0].children;
                // for (let i = 0; i < children.length; i++)
                // {
                //     let a = children[i].children[0]
                //     a.href = location.pathname + '#' + a.href.split('#')[1]
                // }
                },
            fileUrl(file){
                return {
                    name: "file",
                    params: {
                        file: file.id
                    }
                }
            },

        },
        mounted() {
            this.updatePost();
        },
        computed: {
            postId() {
                return this.$route.params.post
            },
            date() {
                return date;
            },
            user(){
                return this.$store.state.user
            },
            isModerator() {
                return this.$store.getters["user/isModerator"]
            }
        },
        watch: {
            postId() {
                this.updatePost()
            }
        },
        components:{
            VueMarkdown,

        }
    }
</script>
<style>
    .post-data img{
        max-width: 100%;
    }
</style>