<template>
    <q-page class="q-pa-lg">
        <div>
            <q-card>
                <q-item>
                    <q-item-section>
                        <q-item-label>
                            <h1>Добавить материал</h1>
                        </q-item-label>
                    </q-item-section>
                </q-item>
                <q-card-section>
                    <p>Выберите категорию: </p>
                    <q-tree
                            v-if="TreeCategoties.length"
                            :nodes="TreeCategoties"
                            node-key="id"
                            label-key="title"
                            :selected.sync="post.category"
                            default-expand-all
                            no-connectors
                            selected-color="accent"
                    />

                    <q-input filled v-model="post.title" label="Название записи"/>

                    <q-input
                            type="textarea"
                            v-model="post.body"
                            filled
                            style="background: #fff; color:#000;"
                            :editor-toolbar='[
                              [{ "header": [2, 3, 4, 5, 6, false] }, {"align":["justify","right","center"]}],
                              ["bold", "italic", "underline", "strike"],
                              [{ list: "ordered" }, { list: "bullet" }],
                              ["link", "image", "code-block", "formula"],
                              ["clean"]
                            ]'
                    />
                    <q-uploader
                            label="Прикрепите файлы"
                            class="full-width"
                            multiple
                            auto-upload
                            hide-upload-btn
                            :factory="uploadFactory"
                            @uploaded="uploadedFile"

                    >
                        <template v-slot:list="scope">
                            <q-list>
                                <q-item v-for="file in fileList" :key="file.id">
                                    <q-item-section avatar top>
                                        <q-avatar icon="assignment" color="grey" text-color="white"/>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label lines="1">{{file.name}}</q-item-label>
                                        <q-item-label caption>Тип файла: {{file.type}}, объём:
                                            {{Math.round(file.size/10.24)/100}} КБ
                                        </q-item-label>
                                    </q-item-section>
                                    <q-item-section align="right">
                                        <q-btn-group>
                                            <q-btn icon="visibility" color="positive" :to="fileUrl(file)"/>
                                            <q-btn icon="edit" color="primary" @click="editFile(file)"/>
                                            <q-btn icon="delete" color="negative" @click="removeFile(file)"/>
                                        </q-btn-group>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </template>
                    </q-uploader>


                </q-card-section>
                <q-card-actions align="right">
                    <q-btn-group push>

                        <q-btn label="Очистить форму" color="negative" align="right" @click="removeDraft"/>
                        <q-btn label="Отправить" color="primary" align="right" @click="sendForm"/>
                    </q-btn-group>
                </q-card-actions>

            </q-card>


        </div>

    </q-page>
</template>

<script>
    import {openURL} from 'quasar'
    import {VueEditor, Quill} from "vue2-editor";
    import QuillBetterTable from 'quill-better-table'

    Quill.register({
        'modules/better-table': QuillBetterTable
    }, true)


    export default {
        name: 'Publish',
        data() {
            return {
                categories: {
                    load: false,
                    data: {}
                },
                post: {
                    category: null,
                    body: '',
                    title: '',
                    files: []
                },
                fileList: []
            }
        },
        methods: {

            async updateCategories() {
                let res = await this.$axios.get('/categories');
                this.categories.data = res.data.data;
                this.categories.load = true;
            },
            loadDraft() {
                let draft = localStorage.getItem('draftLastSave')
                if (draft) {
                    try {
                        draft = JSON.parse(draft)
                        this.post = draft
                        this.updateFileList()
                    } catch (e) {
                        return;
                    }
                }
            },
            saveDraft() {
                localStorage.setItem('draftLastSave', JSON.stringify(this.post))
            },
            async updateFileList() {
                if (!this.post.files.length) return this.fileList = [];
                let res = await this.$axios.get('/files/many', {
                    params: {
                        ids: this.post.files
                    }
                });
                this.fileList = res.data.data;
            },
            editFile(file) {
                this.$q.dialog({
                    title: 'Редактировать файл',
                    message: 'Название файла',
                    prompt: {
                        model: file.name,
                        type: 'text',
                        isValid: val => val.length > 2,
                    },
                    cancel: true,
                    persistent: true
                }).onOk(name => {
                    this.$axios.patch('/files/' + file.id, {
                        name
                    }).then(() => {
                        this.updateFileList();
                    })
                })
            },
            removeFile(file) {
                this.post.files = this.post.files.filter((a) => a !== file.id);
            },
            uploadFactory(files) {
                if (!this.authCheck()) return false;
                return {
                    url: this.$axios.defaults.baseURL + "/files",
                    fieldName: "file",
                    formFields: [
                        {
                            name: "name",
                            value: files[0].name.split('.').reverse().splice(1).reverse().join('.')
                        }

                    ],
                    headers: [{
                        name: 'Authorization',
                        value: this.$axios.defaults.headers.common.Authorization
                    }]
                }
            },
            uploadedFile(info) {
                this.post.files.push(JSON.parse(info.xhr.response).data.id)
            },
            fileUrl(file) {
                return "/file/" + file.id
            },
            removeDraftAction() {
                this.post = {
                    category: null,
                    body: '',
                    title: '',
                    files: []
                }
            },
            removeDraft() {
                this.$q.dialog({
                    title: 'Очистить форму',
                    message: 'Вы действительно хотите удалить все несохраненные данные?',
                    cancel: true
                }).onOk(this.removeDraftAction)

            },
            async sendForm() {
                if (!this.post.category) return this.$q.notify("Выберите категорию");
                if (!this.post.title) return this.$q.notify("Заглавие отсутствует");
                if (!this.post.body) return this.$q.notify("Содержимое отсутствует");
                if (!this.authCheck()) return;
                let post = {
                    "title": this.post.title,
                    "category_id": this.post.category,
                    "body": this.post.body,
                    "files": this.post.files,
                    "type": 0,


                };

                this.$q.loading.show();
                let res = await this.$axios.post("/posts/store", post);
                this.$q.loading.hide();
                this.$q.notify("Ваши материалы отправлены на модерацию. Спасибо за поддержку проекта!");
                this.removeDraftAction();

            },
            authCheck() {
                if (this.$store.state.user.auth) return true;
                this.$q.dialog({
                    title: 'Сначала авторизируйтесь',
                    message: 'Чтобы опубликовать запись и добавлять файлы необходимо авторизироваться. Это необходимо для сохранения безопасности системы. Все введённые данные будут сохранены.',
                    cancel: false,
                    persistent: true,
                    ok: "Авторизироваться"
                }).onOk(() => {
                    this.$router.push("/login");
                });
                return false;
            }
        }
        ,
        mounted() {
            this.updateCategories();
            this.loadDraft()
        }
        ,
        computed: {
            TreeCategoties() {
                function walker(element) {
                    return {
                        id: element.id,
                        title: element.title + " (" + element.posts.length + ")",
                        children: [
                            ...element.children.map(walker),
                        ]
                    }
                }

                if (!this.categories.load) return {};
                return this.categories.data.map(walker)
            }
            ,

        }
        ,
        watch: {
            'post.title'() {
                this.saveDraft()
            }
            ,
            'post.body'() {
                this.saveDraft()
            }
            ,
            'post.category'() {
                this.saveDraft()
            }
            ,
            'post.files'() {
                this.saveDraft();
                this.updateFileList();
            }
            ,


        }
        ,
        components: {
            VueEditor
        }
    }
</script>
