<template>
    <q-page class="q-pa-lg">
        <q-item>
            <q-item-section>
                <q-item-label>
                    <p class="text-h1">Категории: </p>
                </q-item-label>
            </q-item-section>
        </q-item>
        <q-btn label="Создать новую категорию" no-caps @click="createCategory" color="positive"/>
        <q-tree
                v-if="TreeCategories.length"
                :nodes="TreeCategories"
                node-key="id"
                default-expand-all
                dense
                selected=""
        >
            <template v-slot:default-header="prop">
                <div class="row items-center">
                    <q-btn-group flat>
                        <q-btn icon="arrow_upward" flat dense size="sm" @click="moveItemUp(prop.node)"/>
                        <q-btn icon="arrow_downward" flat dense size="sm" @click="moveItemDown(prop.node)"/>
                    </q-btn-group>
                    <q-icon :name="prop.node.is_post ? 'book':'folder'" color="accent" size="sm"
                            class="q-mr-sm"/>
                    <div class="q-mr-sm">{{ prop.node.title }}
                        <q-btn-dropdown dropdown-icon="edit" flat dense size="sm" no-wrap fab>
                            <q-list>
                                <q-item clickable v-close-popup @click="editCategoryTitle(prop.node)"
                                        v-if="!prop.node.is_post">
                                    <q-item-section>
                                        <q-item-label>Изменить название</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item clickable v-close-popup @click="editCategoryParent(prop.node)"
                                        v-if="!prop.node.is_post">
                                    <q-item-section>
                                        <q-item-label>Изменить родителя</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item clickable v-close-popup @click="editPost(prop.node)"
                                        v-if="prop.node.is_post">
                                    <q-item-section>
                                        <q-item-label>Изменить запись
                                            <q-icon name="open_in_new" color="dark"/>
                                        </q-item-label>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-btn-dropdown>
                    </div>

                </div>
            </template>
        </q-tree>
    </q-page>
</template>

<script>
    export default {
        name: "Categories",
        data() {
            return {
                categories: {
                    selected: '',
                    loaded: false,
                    data: [],
                }
            }
        },
        methods: {
            async updateCategories() {
                //this.categories.loaded = false;
                let res = await this.$axios.get('/categories');
                this.categories.data = res.data.data;
                this.categories.loaded = true;
            },
            editPost(item) {
                this.$router.push(`/moderator/posts/${item.id.replace("p", "")}`);
            },
            editCategoryTitle(item) {
                this.$q.dialog({
                    title: 'Редактирование категории',
                    message: 'Введите новое заглавие',
                    prompt: {
                        model: item.title,
                        type: 'text'
                    },
                    cancel: true,
                    persistent: true
                }).onOk(data => {
                    this.$axios.patch(`/moderator/categories/${item.id}`, {
                        title: data
                    }).then(() => {
                        this.$q.notify("Изменения сохранены!");
                        this.updateCategories()
                    })
                })
            },
            getParentCategory(item) {
                function walker(element) {
                    if (!element) return null;
                    if (item.is_post) {
                        if (element.posts.find((a) => a.id === parseInt(item.id.replace("p", "")))) return element;
                        for (let i in element.children) {
                            let c = walker(element.children[i]);
                            if (c) return c;
                        }
                        return null;
                    }

                    if (element.children.find((a) => a.id === parseInt(item.id))) return element;
                    for (let i in element.children) {
                        let c = walker(element.children[i]);
                        if (c) return c;
                    }
                    return null;

                }

                return walker({
                    id: null,
                    children: this.categories.data,
                    posts: []
                })
            },
            async moveItem(item, pos) {
                let parent = this.getParentCategory(item);
                let elements = item.is_post ? parent.posts : parent.children;
                let itemIndex = elements.findIndex(element => element.id === parseInt(String(item.id).replace("p", "")));
                if (itemIndex + pos >= 0 && itemIndex + pos < elements.length) elements[itemIndex] = elements.splice(itemIndex + pos, 1, elements[itemIndex])[0];
                elements.forEach((a, i) => a.position = i);
                let data = elements.map((a) => {
                    return {
                        id: a.id,
                        position: a.position
                    }
                });
                if (item.is_post) await this.$axios.patch('/moderator/posts', data);
                else await this.$axios.patch('/moderator/categories', data);
                this.updateCategories();

            },
            moveItemUp(item) {
                return this.moveItem(item, -1)
            },
            moveItemDown(item) {
                return this.moveItem(item, +1)
            },
            getListOfCategories(except) {
                let categories = [];

                function walker(element, level) {
                    if (!level) level = 1;
                    if (except && String(element.id) === String(except)) return level--;
                    categories.push({
                        value: element.id,
                        label: (() => {
                            let t = "";
                            for (let i = 0; i < level; i++) t += "===";
                            return t;
                        })() + element.title,
                    });
                    for (let i = 0; i < element.children.length; i++) {
                        walker(element.children[i], level + 1);
                    }

                }

                if (!this.categories.loaded) return [];
                this.categories.data.forEach(walker);
                return categories;
            },
            editCategoryParent(item) {
                this.$q.dialog({
                    title: 'Редактирование родителя',
                    message: 'Выберите нового родителя',
                    options: {
                        type: 'radio',
                        model: this.getParentCategory(item).id,
                        items: [
                            {
                                label: "Корень",
                                value: null
                            },
                            ...this.getListOfCategories(item.id)
                        ]
                    },
                    cancel: true,
                    persistent: true
                }).onOk(data => {
                    this.$axios.patch(`/moderator/categories/${item.id}`, {
                        parent_id: data
                    }).then(() => {
                        this.$q.notify("Изменения сохранены!");
                        this.updateCategories()
                    })
                })
            },
            createCategory() {
                this.$q.dialog({
                    title: 'Создание категории',
                    message: 'Введите заглавие',
                    prompt: {
                        model: '',
                        type: 'text'
                    },
                    cancel: true,
                    persistent: true
                }).onOk(title => {
                    this.$q.dialog({
                        title: 'Создание категории',
                        message: 'Выберите родителя',
                        options: {
                            type: 'radio',
                            model: null,
                            items: [
                                {
                                    label: "Корень",
                                    value: null
                                },
                                ...this.getListOfCategories()
                            ]
                        },
                        cancel: true,
                        persistent: true
                    }).onOk(async (parent_id) => {
                        let res = await this.storeCategory({
                           title,
                           parent_id
                        });
                        this.$q.notify("Категория создана!");
                        this.updateCategories();
                    })
                })
            },
            async storeCategory(category) {
                let res = await this.$axios.post("/moderator/categories", category);
                return res;
            }
        },
        computed: {
            TreeCategories() {
                function walker(element) {
                    return {
                        id: element.id,
                        title: element.title,
                        children: [
                            ...element.children.map(walker),
                            ...element.posts.map((p) => {
                                return {
                                    id: "p" + p.id,
                                    title: p.title,
                                    is_post: true
                                }
                            }),
                        ]
                    }
                }

                if (!this.categories.loaded) return {};
                return this.categories.data.map(walker)
            },
        },
        mounted() {
            this.updateCategories();
        }
    }
</script>

<style scoped>

</style>