<template>
    <q-page class="q-pa-lg">
       <h1 class="text-center">Панель модератора</h1>
        <div class="flex justify-around ">
            <q-card class="q-ma-md" style="width: 200px" >
                <q-card-section>
                    <div class="text-h6"> Записи </div>
                </q-card-section>
                <q-separator inset />
                <q-card-actions class="q-pt-none">
                   <q-btn label="Открыть" flat to="/moderator/posts"/>
                </q-card-actions>
            </q-card>
            <q-card class="q-ma-md" style="width: 200px" >
                <q-card-section>
                    <div class="text-h6"> Категории </div>
                </q-card-section>
                <q-separator inset />
                <q-card-actions class="q-pt-none">
                    <q-btn label="Открыть" flat to="/moderator/categories"/>
                </q-card-actions>
            </q-card>
            <q-card class="q-ma-md" style="width: 200px" disabled>
                <q-card-section>
                    <div class="text-h6"> Файлы </div>
                </q-card-section>
                <q-separator inset />
                <q-card-actions class="q-pt-none">
                    <q-btn label="Открыть" flat/>
                </q-card-actions>
            </q-card>
            <q-card class="q-ma-md" style="width: 200px" disabled>
                <q-card-section>
                    <div class="text-h6"> Пользователи </div>
                </q-card-section>
                <q-separator inset />
                <q-card-actions class="q-pt-none">
                    <q-btn label="Открыть" flat/>
                </q-card-actions>
            </q-card>
        </div>


    </q-page>
</template>

<script>
    export default {
        name: "Moderator"
    }
</script>

<style scoped>

</style>