<template>
    <q-page class="q-pa-lg">
        <div>
            <q-card>
                <q-item>
                    <q-item-section>
                        <q-item-label>
                            <h1>Редактирование записи: </h1>
                        </q-item-label>
                    </q-item-section>
                </q-item>
                <q-card-section>
                    <p>Выберите категорию: </p>
                    <q-tree
                            v-if="TreeCategoties.length"
                            :nodes="TreeCategoties"
                            node-key="id"
                            label-key="title"
                            :selected.sync="post.category_id"
                            default-expand-all
                            no-connectors
                            selected-color="accent"

                    />

                    <q-select filled v-model="post.status" :options="statusOptions" label="Статус" map-options emit-value/>


                    <q-input filled v-model="post.title" label="Название записи"/>

                    <vue-editor
                            v-model="post.body"
                            style="background: #fff; color:#000;"
                            :editor-toolbar='[
                              [{ "header": [2, 3, 4, 5, 6, false] }, {"align":["justify","right","center"]}],
                              ["bold", "italic", "underline", "strike"],
                              [{ list: "ordered" }, { list: "bullet" }],
                              ["link", "image", "code-block", "formula"],
                              ["clean"]
                            ]'
                    />
                    <q-uploader
                            label="Прикрепите файлы"
                            class="full-width"
                            multiple
                            auto-upload
                            hide-upload-btn
                            :factory="uploadFactory"
                            @uploaded="uploadedFile"

                    >
                        <template v-slot:list="scope">
                            <q-list>
                                <q-item v-for="file in fileList" :key="file.id">
                                    <q-item-section avatar top>
                                        <q-avatar icon="assignment" color="grey" text-color="white"/>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label lines="1">{{file.name}}</q-item-label>
                                        <q-item-label caption>Тип файла: {{file.type}}, объём:
                                            {{Math.round(file.size/10.24)/100}} КБ
                                        </q-item-label>
                                    </q-item-section>
                                    <q-item-section align="right">
                                        <q-btn-group>
                                            <q-btn icon="visibility" color="positive" :to="fileUrl(file)"/>
                                            <q-btn icon="edit" color="primary" @click="editFile(file)"/>
                                            <q-btn icon="delete" color="negative" @click="removeFile(file)"/>
                                        </q-btn-group>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </template>
                    </q-uploader>


                </q-card-section>
                <q-card-actions align="right">
                    <q-btn-group push>
                        <q-btn icon="link" label="Просмотреть (без сохранения)" color="negative" :to="'/post/'+postId"/>
                        <q-btn label="Сохранить изменения" color="primary" align="right" @click="sendForm"/>
                    </q-btn-group>
                </q-card-actions>

            </q-card>


        </div>

    </q-page>
</template>

<script>
    import {openURL} from 'quasar'
    import {VueEditor, Quill} from "vue2-editor";
    import hljs from "highlight.js";


    export default {
        name: 'Post',
        data() {
            return {
                categories: {
                    load: false,
                    data: {}
                },
                post: {

                },
                fileList: []
            }
        },
        methods: {
            async updateFile() {
                let res = await this.$axios.get('/categories');
                this.categories.data = res.data.data;
                this.categories.load = true;
            },
            async updateCategories() {
                let res = await this.$axios.get('/categories');
                this.categories.data = res.data.data;
                this.categories.load = true;
            },
            async updateFileList() {
                if (!this.post.files.length) return this.fileList = [];
                let res = await this.$axios.get('/files/many', {
                    params: {
                        ids: this.post.files
                    }
                });
                this.fileList = res.data.data;
            },
            editFile(file) {
                this.$q.dialog({
                    title: 'Редактировать файл',
                    message: 'Название файла',
                    prompt: {
                        model: file.name,
                        type: 'text',
                        isValid: val => val.length > 2,
                    },
                    cancel: true,
                    persistent: true
                }).onOk(name => {
                    this.$axios.patch('/files/' + file.id, {
                        name
                    }).then(() => {
                        this.updateFileList();
                    })
                })
            },
            removeFile(file) {
                this.post.files = this.post.files.filter((a) => a !== file.id);
            },
            uploadFactory(files) {
                if (!this.authCheck()) return false;
                return {
                    url: this.$axios.defaults.baseURL + "/files",
                    fieldName: "file",
                    formFields: [
                        {
                            name: "name",
                            value: files[0].name.split('.').reverse().splice(1).reverse().join('.')
                        }

                    ],
                    headers: [{
                        name: 'Authorization',
                        value: this.$axios.defaults.headers.common.Authorization
                    }]
                }
            },
            uploadedFile(info) {
                this.post.files.push(JSON.parse(info.xhr.response).data.id)
            },
            fileUrl(file) {
                return "/file/" + file.id
            },
            async sendForm() {
                this.$q.loading.show();
                await this.$axios.patch(`/moderator/posts/${this.postId}`, this.post);
                await this.updatePost();
                this.$q.loading.hide();
                this.$q.notify("Изменения сохранены!");


            },
            async updatePost() {
                let res = await this.$axios(`/moderator/posts/${this.postId}`).catch(() => {

                });
                let post = Object.assign(res.data.data);
                post.files = post.files.map((a)=>a.id);
                this.post = post;
            },
        }
        ,
        mounted() {
            this.updatePost();
            this.updateCategories();
        }
        ,
        computed: {
            TreeCategoties() {
                function walker(element) {
                    return {
                        id: element.id,
                        title: element.title + " (" + element.posts.length + ")",
                        children: [
                            ...element.children.map(walker),
                        ]
                    }
                }

                if (!this.categories.load) return {};
                return this.categories.data.map(walker)
            },
            postId(){
                return this.$route.params.post
            },
            statusOptions(){
                return [
                    {
                        label: "На модерации",
                        value: 0
                    },
                    {
                        label: "Опубликовано",
                        value: 1
                    },

                    {
                        label: "Отказано в публикации",
                        value: -1
                    },
                ]
            },

        }
        ,
        watch: {
            'post.files'() {
                this.updateFileList();
            }
        }
        ,
        components: {
            VueEditor
        }
    }
</script>
