<template>
    <q-page class="q-pa-lg">
        <q-table :data="filterdPosts" :loading="loading" :columns="columns" row-key="id" :filter="filter" :pagination.sync="pagination">
            <template v-slot:top>
                <span class="text-h3">Записи</span>
                <q-toggle v-model="only_unchecked" label="Только требующие модерации"/>
                <q-space/>
                <q-input dense color="primary" v-model="filter">
                    <template v-slot:append>
                        <q-icon name="search"/>
                    </template>
                </q-input>
            </template>
            <template v-slot:body-cell-actions="props">
                <q-td :props="props">
                    <q-btn-group>
                        <q-btn icon="link" color="positive" :to="'/post/'+props.row.id"/>
                        <q-btn icon="edit" color="primary" :to="'/moderator/posts/'+ props.row.id"/>
                    </q-btn-group>
                </q-td>
            </template>
            <template v-slot:body-cell-status="props">
                <q-td :props="props">
                    <q-chip color="warning" icon="close" v-if="props.row.status == 0">
                        Не проверен
                    </q-chip>
                    <q-chip color="positive" text-color="white" icon="check" v-else-if="props.row.status == 1">
                        Опубликован
                    </q-chip>
                    <q-chip color="negative" text-color="white" icon="delete" v-else-if="props.row.status == -1">
                        Отклонён
                    </q-chip>
                </q-td>
            </template>

        </q-table>


    </q-page>
</template>

<script>
    import {date} from 'quasar'

    export default {
        name: 'Posts',
        data() {
            return {
                only_unchecked:false,
                loading: false,
                posts: [],
                filter: '',
                pagination: {
                    page: 1,
                    rowsPerPage: 0
                },
            }
        },
        methods: {
            async update() {
                this.loading = true;
                let res = await this.$axios.get("moderator/posts");
                this.posts = res.data.data;
                this.loading = false;
            }
        },
        computed: {
            columns() {
                return [
                    {
                        name: 'created_at',
                        label: 'Дата',
                        field: 'created_at',
                        align: "left",
                        format: (d) => date.formatDate(d, "DD.MM.YYYY hh:mm")
                    },
                    {
                        name: 'title',
                        label: 'Заголовок',
                        field: 'title',
                        align: "left"
                    },
                    {
                        name: 'category',
                        label: 'Категория',
                        field: (a) => a.category.title,
                        align: "left"
                    },
                    {
                        name: 'status',
                        label: 'Статус',
                        field: 'status',
                    },
                    {
                        name: 'actions',
                        label: 'Действия',
                    },

                ]
            },
            filterdPosts(){
                if(!this.only_unchecked) return this.posts;
                return this.posts.filter(a=>!a.status);
            }
        },
        mounted() {
            this.update()
        }
    }
</script>
