<template>
    <q-page class="q-pt-md">
        <q-skeleton square height="300px" v-if="!loaded"/>
        <div v-else>
            <div class="text-center full-width">
                <q-btn-group rounded style="max-width:100%;">
                    <q-btn color="primary" rounded icon="navigate_before" @click="prevDay"/>
                    <q-btn color="primary" style="width:220px;max-width:100%;" rounded no-caps
                           :label="date.formatDate(selectedDay,'dddd, DD.MM.YYYY г')">
                        <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-date v-model="selectedDay">
                                <div class="row items-center justify-end">
                                    <q-btn v-close-popup label="Close" color="primary" flat/>
                                </div>
                            </q-date>
                        </q-popup-proxy>
                    </q-btn>
                    <q-btn color="primary" rounded icon="navigate_next" @click="nextDay"/>
                </q-btn-group>
            </div>
            <div class="row full-width"
                v-touch-swipe.mouse.left.right="swipe">
<!--                <transition-group tag="div" class="row full-width">-->
                    <div class="q-px-sm q-py-md col-12 col-md-6" v-for="event in selectedEvents" :key="event.id">
                        <event
                                @edit="editEvent"
                                :time="time"
                                class="full-width"
                                :event="event"
                                @update="update"
                        />
                    </div>
<!--                </transition-group>-->


                <q-banner class="bg-grey-3 q-ma-md full-width" v-if="!selectedEvents.length">
                    <template v-slot:avatar>
                        <q-icon name="weekend" color="primary"/>
                    </template>
                    Мероприятий пока нет.
                </q-banner>

            </div>
        </div>


        </div>

        <q-page-sticky position="bottom-right"  v-if="isLeader" :offset="[18, 18]">
            <q-fab
                    vertical-actions-align="right"
                    color="primary"
                    icon="more_vert"
                    direction="up">
                <q-fab-action
                        color="primary"
                        :to="{
                        name: 'group.table'
                    }"
                        icon="table_view"
                >
                    <q-tooltip anchor="center left" self="center right">
                        Сводная ведомость
                    </q-tooltip>
                </q-fab-action>
                <q-fab-action color="primary" @click="syncRaspDate" icon="sync">
                    <q-tooltip anchor="center left" self="center right">
                        Синхронизация с BBMSTU
                    </q-tooltip>
                </q-fab-action>
                <q-fab-action color="primary" @click="addEvent" icon="add">
                    <q-tooltip anchor="center left" self="center right">
                        Добавить мероприятие
                    </q-tooltip>
                </q-fab-action>
            </q-fab>
        </q-page-sticky>

        <q-dialog v-model="addingEvent">
            <add-event @created="createdEvent"/>
        </q-dialog>

        <q-dialog v-model="editingEvent">
            <edit-event @edited="editedEvent" :event="eventForEdit"/>
        </q-dialog>

    </q-page>

</template>

<script>
    import {date} from 'quasar'
    import AddEvent from "./includes/AddEvent";
    import EditEvent from "./includes/EditEvent";

    function groupBy(list, keyGetter) {
        const map = new Map();
        list.forEach((item) => {
            const key = keyGetter(item);
            const collection = map.get(key);
            if (!collection) {
                map.set(key, [item]);
            } else {
                collection.push(item);
            }
        });
        return map;
    }

    import Event from "./includes/Event";
    import axios from "../../boot/axios";
    import Task from "./includes/Task";

    export default {
        name: "Index",
        components: {
            Event,
            AddEvent,
            EditEvent,
            Task
        },
        data() {
            return {
                addingEvent: false,
                time: new Date(),
                timer: null,
                time_fix: 0,
                editingEvent: false,
                eventForEdit: {},
                tasks: [],
                loaded: false,
                selectedDay: null
            }
        },
        methods: {
            nextDay() {
                this.selectedDay = date.formatDate(
                    date.addToDate(this.selectedDay, {days: 1}),
                    "YYYY/MM/DD"
                );
            },
            prevDay() {
                this.selectedDay = date.formatDate(
                    date.subtractFromDate(this.selectedDay, {days: 1}),
                    "YYYY/MM/DD"
                );
            },
            async update() {
                await this.$store.dispatch('events/update');
                this.loaded = true;
            },

            async updateTasks() {
                let res = await axios.instance.get('/group/tasks').catch();
                if (res.data) {
                    this.tasks = res.data.data;
                }
            },

            addEvent() {
                this.addingEvent = true;
            },
            createdEvent() {
                this.update();
                this.addingEvent = false;
                this.$q.notify("Событие создано")
            },
            syncRaspDate() {
                this.$q.dialog({
                    title: 'Синхронизация',
                    message: 'Введите дату для синхронизации (в формате 2020-09-24)',
                    prompt: {
                        model: '',
                        isValid: val => val.length == 10,
                        type: 'date',
                    },
                    cancel: true,
                    persistent: true
                }).onOk(async data => {
                    let res = await this.$axios.post(`/group/events/sync/${data}`);
                    this.$q.notify("Синхронизировано!");
                    this.update();
                })
            },
            editEvent(event) {
                this.editingEvent = true;
                this.eventForEdit = event;
            },
            editedEvent() {
                this.editingEvent = false;
                this.$q.notify("Событие изменено");
                this.update();
            },
            async syncTime() {
                let res = await this.$axios("/time?random=" + (new Date()).getTime()).catch((err) => {
                    alert(err);
                });
                this.time_fix = new Date(res.data.time) - new Date();
                this.selectedDay = date.formatDate(new Date(res.data.time), "YYYY/MM/DD");
            },
            swipe(e)
            {
                if (e.direction=="right")
                    this.prevDay()

                if (e.direction=="left")
                    this.nextDay()
            }
        },
        computed: {
            selectedEvents() {
                if (!this.selectedDay)
                    return [];

                return this.events.data.filter(
                    (e) => new Date(e.date) >= date.startOfDate(this.selectedDay, 'day') &&
                        new Date(e.date) <= date.endOfDate(this.selectedDay, 'day')
                )
            },
            events() {
                return this.$store.state.events
            },
            groupedEvents() {
                return groupBy(this.actualEvents, (event) => {
                    return event.date.substr(0, 10)
                })
            },
            oldGroupedEvents() {
                return groupBy(this.oldEvents, (event) => {
                    return event.date.substr(0, 10)
                })
            },
            oldEvents() {
                return this.$store.state.events.data.filter(
                    (e) => new Date(e.date) < date.startOfDate(this.time, 'day')
                )
            },
            actualEvents() {
                return this.$store.state.events.data.filter(
                    (e) => new Date(e.date) >= date.startOfDate(this.time, 'day')
                )
            },
            isLeader() {
                return this.$store.getters["user/isLeader"]
            },
            date() {
                return date
            },


        },
        created() {
            this.update();
            this.updateTasks();
            this.syncTime();

            this.timer = setInterval(() => {
                this.time = new Date(new Date().getTime() + this.time_fix)
            }, 1000)
        },
        destroyed() {
            clearInterval(this.timer);
        }
    }
</script>

<style scoped>

</style>