<template>
    <q-page>
<!--        <q-dialog v-model="!!activeEvent">-->
<!--            <Event :event="activeEvent"/>-->
<!--        </q-dialog>-->
        <q-table
                class="my-sticky-header-table"
                title="Группа"
                dense
                :data="data"
                :columns="columns"
                row-key="id"
                flat
                bordered
                separator="cell"
                :pagination.sync="pagination"
        >
            <template v-slot:top>
                <div class="col-12 flex">
                    <q-btn @click="showFilters=true" push color="primary" label="Показать фильтры"></q-btn>
                    <q-dialog full-height :breakpoint="600" v-model="showFilters">
                        <div class="q-pa-lg bg-white">
                            <p class="text-h5 text-center">Фильтры</p>
                            <div class="row q-col-gutter-lg justify-around">
                                <div class="col-auto" style="width: 350px;">
                                    <q-input filled v-model="filters.date.$gt" mask="##.##.####" label="От" fill-mask>
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                                <q-popup-proxy transition-show="scale" transition-hide="scale">
                                                    <q-date v-model="filters.date.$gt" mask="DD.MM.YYYY" />
                                                </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>
                                    <q-input filled v-model="filters.date.$lt" mask="##.##.####" label="До" fill-mask>
                                        <template v-slot:append>
                                            <q-icon name="event" class="cursor-pointer">
                                                <q-popup-proxy transition-show="scale" transition-hide="scale">
                                                    <q-date v-model="filters.date.$lt" mask="DD.MM.YYYY" />
                                                </q-popup-proxy>
                                            </q-icon>
                                        </template>
                                    </q-input>
                                </div>

                                <div class="col-auto" style="width: 350px;">
                                    <p>
                                        <searchable-select use-chips multiple filled v-model="filters.name" label="Предмет"
                                                           :options="options.name">
                                        </searchable-select>
                                        <searchable-select use-chips multiple filled v-model="filters.type" label="Тип занятия"
                                                           :options="options.type">
                                        </searchable-select>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </q-dialog>
                    <q-space/>

                    <q-space/>
                    <q-btn flat icon="sync" @click="update"></q-btn>
                    <q-btn
                            color="primary"
                            icon-right="archive"
                            label="CSV"
                            no-caps
                            @click="exportTable"
                    />
                </div>
                <div>
                    <q-chip removable :value="filters.status!=null" @remove="removeFilter('status')" color="primary"
                            text-color="white">
                        {{filters.status}}
                    </q-chip>

                </div>

            </template>
            <template v-slot:body-cell="props">
                <q-td :props="props">
                    <span v-if="!props.col.is_visit">

                        <q-btn
                                icon='more_vert'
                                color="primary"
                                dense
                                round
                                v-if="props.col.name=='date'"
                                @click="activeEvent = props.row.event"
                        >

                        </q-btn>
                        {{props.value}}

                    </span>
                    <q-icon name="add" v-else-if="!!props.value"/>
                    <q-icon name="remove" v-else/>
                </q-td>
            </template>
            <template v-slot:bottom-row="props">
                <q-tr>
                    <q-td v-for="sum in sum_row">
                        {{sum}}
                    </q-td>
                </q-tr>
            </template>

        </q-table>

        <q-table
            title = "Пропуски"
            :data="dataVisitsTypes"
            :columns="columnsVisitsTypes"

        />
    </q-page>

</template>

<script>
    import {date} from 'quasar'
    import AddEvent from "./includes/AddEvent";
    import EditEvent from "./includes/EditEvent";
    import SearchableSelect from "../../components/SearchableSelect"



    import Event from "./includes/Event";
    import axios from "../../boot/axios";

    import {exportFile} from 'quasar'

    function getUnique(array) {
        var o = {}, a = [], i, e;
        for (i = 0; e = array[i]; i++) {o[e] = 1};
        for (e in o) {a.push (e)};
        return a;
    }
    function string_to_date(date) {
       if(!date || date.length !== 10) return null;
       return new Date(date.split(".").reverse().join("-"))
    }

    function wrapCsvValue(val, formatFn) {
        let formatted = formatFn !== void 0
            ? formatFn(val)
            : val

        formatted = formatted === void 0 || formatted === null
            ? ''
            : String(formatted)

        formatted = formatted.split('"').join('""')
        /**
         * Excel accepts \n and \r in strings, but some other CSV parsers do not
         * Uncomment the next two lines to escape new lines
         */
        // .split('\n').join('\\n')
        // .split('\r').join('\\r')

        return `"${formatted}"`
    }

    export default {
        name: "Table",
        components: {
            Event,
            AddEvent,
            EditEvent,
            SearchableSelect
        },
        data() {
            return {
                activeEvent: null,
                events:{
                    data:[]
                },
                students: [],
                showFilters: false,
                filters:{
                    date:{
                        $lt: date.formatDate(new Date(), "DD.MM.YYYY")
                    },
                    name:[],
                    type:[]
                },
                pagination: {
                    sortBy: 'desc',
                    descending: false,
                    page: 1,
                    rowsPerPage: 10
                },
            }
        },
        methods: {
            async update() {
                let res = await this.$axios.get('/group/events');
                if (res.data) {
                    this.events.data = res.data.data;
                }
            },
            async updateStudents() {
                let res = await this.$axios.get('/group/students').catch();
                if (res.data) {
                    this.students = res.data.data;
                }
            },
            exportTable() {
                // naive encoding to csv format
                const content = [this.columns.map(col => wrapCsvValue(col.label)).join(";")].concat(
                    this.data.map(row => this.columns.map(col => wrapCsvValue(
                        typeof col.field === 'function'
                            ? col.field(row)
                            : row[col.field === void 0 ? col.name : col.field],
                        col.format
                    )).join(';'))
                ).join('\r\n')

                const status = exportFile(
                    'table-export.csv',
                    content,
                    'text/csv;charset=windows-1251'
                )

                if (status !== true) {
                    this.$q.notify({
                        message: 'Браузер отклонил загрузку файла...',
                        color: 'negative',
                        icon: 'warning'
                    })
                }
            }


        },
        computed: {
            filteredEvents() {
                return this.events.data.filter((d)=>{
                    let active = true;
                    ["name", "type"].forEach((tt)=>{
                        if(this.filters[tt].length && !this.filters[tt].find((a)=>{
                            return a == d[tt];
                        }))
                            active=false;
                    })

                    active = active
                        && (!string_to_date(this.filters.date.$gt) || new Date(d.date) > string_to_date(this.filters.date.$gt))
                        && (!string_to_date(this.filters.date.$lt) || new Date(d.date) < string_to_date(this.filters.date.$lt))


                    return active;
                })
            },
            isLeader() {
                return this.$store.getters["user/isLeader"]
            },
            date() {
                return date
            },
            columns() {
                return [
                    {
                        name: 'date',
                        align: 'left',
                        label: 'Дата',
                        field: 'date',
                        sortable: true,
                        format: (d) => date.formatDate(d, 'DD.MM HH:mm')
                    },
                    {
                        name: 'name',
                        align: 'left',
                        label: 'Предмет',
                        field: 'name',
                        sortable: false,
                        format: (subject) => subject.substr(0, 20)
                    },

                    {
                        name: 'type',
                        align: 'left',
                        label: 'Тип',
                        field: 'type',
                        sortable: false,
                        format: (subject) => subject.substr(0, 3)
                    },
                    ...this.students.sort((a, b) => {
                        return a.contingent.surname < b.contingent.surname ? -1 : 1
                    }).map((u) => {
                        return {
                            name: 'user_' + u.id,
                            align: 'center',
                            label: u.contingent.surname,
                            field: 'user_' + u.id,
                            sortable: false,
                            is_visit: true
                        }
                    })
                ];
            },
            data() {
                return this.filteredEvents.map((e) => {
                    let event = {
                        date: e.date,
                        name: e.name,
                        type: e.type,
                        event: e
                    };
                    e.visits.forEach((visit) => {
                        event[`user_${visit.user.id}`] = 1
                    })
                    return event
                })
            },
            sum_row() {
                return [
                    "Всего",
                    `${this.data.length} занятий`,
                    "",
                    ...this.students.map((student) => {
                        let sum = 0;
                        this.data.forEach((event) => {
                            if (event[`user_${student.id}`])
                                sum++;
                        })
                        let procent=0 ;
                        if (this.data.length) procent = parseInt(sum/this.data.length * 100);
                        return `${sum} (${procent}%)`;
                    })
                ];

            },
            options(){
                return {
                    name:  getUnique(this.filteredEvents.map((a)=>a.name)),
                    type:  getUnique(this.filteredEvents.map((a)=>a.type)),
                }
            },
            dataVisitsTypes(){
                let types = this.options.type;
                let max_count = types.map(
                    (x)=>this.filteredEvents
                        .filter(
                            (event)=>event.type==x
                        ).length
                );
                return this.students.map((student)=>{
                    let mapped = {
                        id: student.id,
                        name: student.name,
                    }

                    types.forEach((type, i)=>{
                        let count = 0;
                        this.filteredEvents
                            .filter((event)=>event.type==type)
                            .forEach((event)=>{
                                if (event.visits.find((visit)=>visit.user.id == student.id))
                                    count++;
                            })
                        mapped[type] =  {
                            missing: max_count[i] - count,
                            count: count,
                            all: max_count[i]
                        }
                    })

                    return mapped;
                })
            },
            columnsVisitsTypes(){
                return [
                    {
                        name: 'name',
                        align: 'left',
                        label: 'ФИО',
                        field: 'name',
                        sortable: true
                    },
                    ...this.options.type.map((type)=>{
                        return {
                            name: type,
                            align: 'right',
                            label: type,
                            field: type,
                            format: (type) => type.missing
                        }
                    })
                ]
            }


        },
        created() {
            this.update();
            this.updateStudents();
        },
        destroyed() {
            clearInterval(this.timer);
        }
    }
</script>

<style>
    .my-sticky-header-table {
    }

    .my-sticky-header-table .q-table__top,
    .my-sticky-header-table .q-table__bottom,
    .my-sticky-header-table thead tr:first-child th {
        /*background-color: #c1f4cd;*/
    }

    .my-sticky-header-table thead tr th {
        position: sticky;
        z-index: 1;
    }

    thead tr:first-child th {
        top: 0;
    }

</style>