<template>
    <q-page class="q-pa-lg">

        <q-card>
            <q-card-section>

                <h1>Авторизация</h1>
                <q-btn size="large" color="primary" @click="openProxy" no-caps>
                    Войти через сеть МГТУ им. Н.Э.Баумана
                </q-btn>
            </q-card-section>
        </q-card>
    </q-page>

</template>

<script>
    export default {
        name: "Login",
        methods: {
            openProxy() {
                const proxyUrl = "https://proxy.bmstu.ru:8443/cas/login?service=https://iu7.larin.tech/api/cas";
                window.location.href = proxyUrl
            }
        },
        created() {
            this.openProxy();
        }
    }
</script>

<style scoped>

</style>
